[submodule "inclusive-dis-rad"]
	path = inclusive-dis-rad
	url = https://github.com/JeffersonLab/inclusive-dis-rad
[submodule "dvcsgen"]
	path = dvcsgen
	url = https://github.com/JeffersonLab/dvcsgen
[submodule "genKYandOnePion"]
	path = genKYandOnePion
	url = https://github.com/ValeriiKlimenko/genKYandOnePion
[submodule "clasdis"]
	path = clasdis
	url = https://github.com/JeffersonLab/clasdis.git
[submodule "claspyth"]
	path = claspyth
	url = https://github.com/JeffersonLab/claspyth.git
[submodule "jpsigen"]
	path = jpsigen
	url = https://github.com/jeffersonlab/jpsigen
[submodule "TCSGen"]
	path = TCSGen
	url = https://github.com/JeffersonLab/TCSGen
[submodule "JPsiGen"]
	path = JPsiGen
	url = https://github.com/JeffersonLab/JPsiGen
[submodule "twopeg"]
    branch = main
	path = twopeg
	url = https://github.com/skorodumina/twopeg
[submodule "clas12-elSpectro"]
	path = clas12-elSpectro
	url = https://github.com/dglazier/clas12-elSpectro
[submodule "MCEGENpiN_radcorr"]
	path = MCEGENpiN_radcorr
	url = https://github.com/maksaska/MCEGENpiN_radcorr
[submodule "deep-pipi-gen"]
	path = deep-pipi-gen
	url = https://github.com/jeffersonlab/deep-pipi-gen
[submodule "genepi"]
	path = genepi
	url = https://github.com/N-Plx/genepi
[submodule "onepigen"]
	path = onepigen
	url = https://github.com/tylern4/onepigen.git
[submodule "clas-stringspinner"]
	path = clas-stringspinner
	url = https://github.com/JeffersonLab/clas-stringspinner.git
[submodule "pythia8"]
	path = pythia8
	url = https://gitlab.com/Pythia8/releases.git
	ignore = untracked ; ignore build artifacts
