[submodule "inclusive-dis-rad"]
	path = inclusive-dis-rad
	url = https://github.com/JeffersonLab/inclusive-dis-rad
[submodule "dvcsgen"]
	path = dvcsgen
	url = https://github.com/JeffersonLab/dvcsgen
[submodule "genKYandOnePion"]
	path = genKYandOnePion
	url = https://github.com/ValeriiKlimenko/genKYandOnePion
[submodule "clasdis"]
	path = clasdis
	url = https://github.com/JeffersonLab/clasdis.git
[submodule "claspyth"]
	path = claspyth
	url = https://github.com/JeffersonLab/claspyth.git
[submodule "jpsigen"]
	path = jpsigen
	url = https://github.com/jeffersonlab/jpsigen
[submodule "TCSGen"]
	path = TCSGen
	url = https://github.com/JeffersonLab/TCSGen
[submodule "JPsiGen"]
	path = JPsiGen
	url = https://github.com/JeffersonLab/JPsiGen
[submodule "twopeg"]
    branch = main
	path = twopeg
	url = https://github.com/skorodumina/twopeg
[submodule "clas12-elSpectro"]
	path = clas12-elSpectro
	url = https://github.com/dglazier/clas12-elSpectro
[submodule "MCEGENpiN_radcorr"]
	path = MCEGENpiN_radcorr
	url = https://github.com/maksaska/MCEGENpiN_radcorr
[submodule "deep-pipi-gen"]
	path = deep-pipi-gen
	url = https://github.com/jeffersonlab/deep-pipi-gen
[submodule "genepi"]
	path = genepi
	url = https://github.com/N-Plx/genepi
