name: CI

on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  CMAKE_POLICY_VERSION_MINIMUM: 3.5 # kluge for cmake v4 support

jobs:
  build:
    name: build and test
    runs-on: ubuntu-latest
    container:
      image: codecr.jlab.org/hallb/clas12/container-forge/base_root:latest
      options: --user root
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: install dependencies
        run: |
          pacman -Sy --noconfirm
          pacman -S --noconfirm fmt
      - run: make
      - run: make install
      - name: tree installation
        run: |
          for d in bin include lib lib64 share; do
            echo ""
            echo "[+++++] tree $d"
            tree --noreport $d || true
          done
      - name: test
        run: |
          make -C test all
          ls -lhtr
